
body{
    background-image: url("bg.jpg");
    background-size: cover;
    height: 700px;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    position: sticky;
    height:60px;
    background-color: black;
    padding: 0 30px;
    margin: -10px 0;
}
nav div{
    position: relative;
    float: right;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1{
    text-align: center;
    color:white;
}